<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911994940287-n1qv9qgt4c47jcjprcfk21sb5cmb7mvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911994940287-n1qv9qgt4c47jcjprcfk21sb5cmb7mvp</string>
	<key>API_KEY</key>
	<string>AIzaSyCR5i9cZQDvEGEhNwbNoEaEr_rS0lcI-no</string>
	<key>GCM_SENDER_ID</key>
	<string>911994940287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartlomiejsawicki.suwalskieBurgery</string>
	<key>PROJECT_ID</key>
	<string>suwalskieburgery</string>
	<key>STORAGE_BUCKET</key>
	<string>suwalskieburgery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911994940287:ios:623ed9a2c0951b0808884a</string>
</dict>
</plist>